html {
    width: 100%;
    height: 100%;
    padding: 8px 12px 0 12px;
}

#wrapper {
    position: relative;
}

#game {
    text-align: center;
}

#board {
    margin: 0 auto;
    border: 1px solid #aaa;
    background-color: #fefefe;
}

#players li button {
    margin: 0 10px;
}